.contact {
    margin-bottom: 133px;
}

.wrapper-contact {
    display: flex;
    justify-content: space-between;
}

.contact__right {
    max-width: 767px;
}
.contact__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 37px;
}

.contact__title-mobile{
    display: none;
}

.contact__text {
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 52px;
}

.contact__form-input {
    border: 1px solid #8F95A5;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 33px;
    width: 450px;
    height: 80px;
    margin-right: 12px;
    outline: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #263238;
}

.contact__form-input:focus {
    border: 1px solid #263238;
}

.contact__form-input::placeholder {
    color: #8F95A5;
}

.contact__form-button {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #263238;
    border-radius: 10px;
    padding: 0 81px;
    height: 80px;
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid transparent;
}
.contact__form-button:hover{
    border: 2px solid #263238;
    color: #263238;
    background: transparent;
}
.contact__form-button:active{
    transform: scale(0.97);
}
