.header {
    padding: 55px 0;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
}

.header__item {
    margin-right: 40px;
}
.header__link{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.header__link:after {
    display: block;
    content: "";
    background-color: #263238;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header__link:hover:after,
.header__link:focus:after {
    width: 100%;
}

.header__item:last-child{
    margin-right: 0;
}

.header__button {
    font-size: 24px;
    line-height: 36px;
    padding: 15px 55px;
    border: 2px solid #263238;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 220px;
    max-height: 70px;
    transition: 0.2s ease;
}
.header__button:hover{
    background: #263238;
    color: #fff;
}
.header__button:active{
    transform: scale(0.97);
}
.header__burger{
    width: 30px;
    height: 17px;
    position: relative;
    display: none;
}

.burger__line{
    display: block;
    width: 100%;
    height: 3px;
    background: #39515E;
    border-radius: 1px;
    position: absolute;
    left: 0 ;
}

.burger__line_first{
    top: 0;
}

.burger__line_second{
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third{
    width: 21px;
    bottom: 0;
}










